[Unit]
Description=System install

[Service]
Type=oneshot
# Perform a fresh system install - normally from the bootloader network install
ExecStart=/usr/bin/rpi-system-update -i
TTYPath=/dev/tty0
TTYReset=yes
StandardOutput=tty

[Install]
WantedBy=multi-user.target
